[Unit]
Description=Horser Racing Feed From XML Daemon
Before=multi-user.target

[Service]
WorkingDirectory=/work/backend
ExecStart=/usr/bin/python3 ./daemons/daemon.py --start feed
ExecStop=/usr/bin/python3 ./daemons/daemon.py --stop feed
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target