[Unit]
Description=Horser Racing Manage Daemon
Before=multi-user.target

[Service]
WorkingDirectory=/work/backend
ExecStart=/usr/bin/python3 ./manage.py --start
ExecStop=/usr/bin/python3 ./manage.py --stop
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target